body {
    font-family: Arial, sans-serif;
    font-size: 20px;
    background-color: #D9AFD9;
    background-image: linear-gradient(0deg, #D9AFD9 0%, #97D9E1 100%);
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(10, 0.1fr);
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "p_details p_image"
        "exp exp"
        "exp1_details exp1_image"
        "exp2_details exp2_image"
        "hobbies hobbies"
        "hobbies1 hobbies1"
        "hobbies2 hobbies2"
        "project project"
        "project_details project_details"
    ;
}



.p_details {
    grid-area: p_details;
    margin: auto;
}

.p_image {
    grid-area: p_image;
    font-size: 30px;
    margin: auto;
    text-align: center;
}

.exp {
    grid-area: exp;
    text-align: center;
    font-size: 40px;
    ;
}

.exp1_image {
    grid-area: exp1_image;
    /* margin: auto; */
    text-align: left;
}

.exp1_details {
    grid-area: exp1_details;
    /* margin: auto; */
    text-align: right;
}

.exp2_details {
    grid-area: exp2_details;
    /* margin: auto; */
    text-align: right;
    margin-top: auto;
    margin-bottom: auto;
}

.exp2_image {
    grid-area: exp2_image;
    /* margin: auto; */
    text-align: left;
}

.hobbies {
    grid-area: hobbies;
    text-align: center;
    font-size: 40px;
    ;
}

.hobbies1 {
    grid-area: hobbies1;
    text-align: center;
}

.hobbies2 {
    grid-area: hobbies2;
    text-align: center;
}

.project {
    grid-area: project;
    text-align: center;
}

.project_details {
    grid-area: project_details;
    margin: auto;
}


.p_details img {
    width: 25px;
    height: 25px;
}

.p_image img {
    width: 300px;
    height: 300px;
}

.exp1_image img,
.exp2_image img {
    width: 300px;
    height: 150px;
}

.hobbies1 img,
.hobbies2 img {
    width: 150px;
    height: 150px;
}


@media only screen and (max-width: 620px) {

    /* For mobile phones: */
    .grid-container {
        grid-template-columns: 0.1fr;
        grid-template-rows: repeat(10, 0.1fr);
        gap: 0px 0px;
        grid-auto-flow: row;
        grid-template-areas:
            "p_image"
            "p_details"
            "exp"
            "exp1_details"
            "exp1_image"
            "exp2_details"
            "exp2_image"
            "hobbies"
            "hobbies1"
            "hobbies2"
            "project"
            "project_details"
        ;
    }

    .exp1_image img,
    .exp2_image img {
        width: 150px;
        height: 75px;
    }

    .exp1_image,
    .exp1_details,
    .exp2_details,
    .exp2_image {
        text-align: center;
    }
}